:root {--lila: #9828CD;}

body {
    background-color: #080808;
    font-family: 'Poppins';
}

/* I N F O R M A C I O N */
#info {
    margin-top: 8rem;
}

#info p {
    padding: 15rem;
    text-align: justify;
    font-size: 1rem;
    color: #f2f2f2;
}
#info p::first-letter {
    float: left;
    font-size: 9rem;
    padding-right: 5rem;
    color: var(--lila);
}


/* N A V  B A R */
.menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 0 3rem;
}

/* H I G H L I G H T    H E A D E R */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    background: black;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    background-position: center;
}

header.sticky {
    height: 5rem;
}

header.sticky .banner {
    opacity: 0.3;
}

header.sticky .menu  {
    position: relative;
    z-index: 1;
}


/* H I G H L I G H T   T E M A */
.toggle {
    position: sticky;
    top: 8rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle::before {
    content: '\eca7';
    font-family:'cappuccicons';
    font-size: 1.3rem;
}

body.light .toggle {
    background-color: #080808;
    color: white;
}

body.light .toggle::before {
    content: '\eb96';
}

body.light {
    background-color: #f2f2f2;
}

/* S I N    H A C E R */
body.light #info p {
    color: #080808;
}